{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "FeatureManagement": {
    "ExampleFlag": false
  },
  "PostHog": {
    "ProjectToken": "",
    "HostUrl": "https://us.i.posthog.com"
  },
  "Authentication": {
    "AllowPasswordGrant": true
  },
  "Cors": {
    "AllowedOrigins": [ "http://localhost:5173" ]
  }
}
